<div class="form-body">
    {{ form_start(form) }}

    <div class="row">
        <div class="col-12">
            <label class="text-right">
                {{ form_label(form.adresse) }}
            </label>
            <div>
                {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}
                <small class="text-danger" id="erreur-adresse">{{ form_errors(form.adresse) }}</small>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <label class="text-right">
                {{ form_label(form.etage) }}
            </label>
            <div>
                {{ form_widget(form.etage, {'attr': {'class': 'form-control', 'min': '0'}}) }}
                <small class="text-danger">{{ form_errors(form.etage) }}</small>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <label class="text-right">
                {{ form_label(form.nombrePieces) }}
            </label>
            <div>
                {{ form_widget(form.nombrePieces, {'attr': {'class': 'form-control', 'min': '1'}}) }}
                <small class="text-danger">{{ form_errors(form.nombrePieces) }}</small>
            </div>
        </div>
    </div>
    <div class="row text-center p-5">
        {{ form_rest(form) }}
    </div>

    <div class="text-center">
        <button class="btn btn-success text-white">{{ button_label|default('Sauvegarder') }}</button>
    </div>
    {{ form_end(form) }}
</div>
